# The .gcloudignore file excludes file from upload to Cloud Build.
# If this file is deleted, gcloud will default to .gitignore.

.gitignore

build.sh
config.sh
deploy.sh
destroy.sh
execute.sh

build/service
